:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  overflow: hidden;
}
.carousel {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: auto;
}
.carousel__image-wrapper {
  position: relative;

  white-space: nowrap;
  display: flex;
  width: 100%;
  height: 100%;
}
.carousel__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.carousel__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}
.carousel__control--prev {
  left: 10px;
}
.carousel__control--next {
  right: 10px;
}
.carousel__indicators {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: grey;
}
.carousel__indicator {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}
.carousel__indicator--active {
  background-color: blue;
}
